body{
    background-color: lightcyan;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-size:2rem;
  }
  
  main{
    margin:50px 20px 30px 20px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    'a1 a2 a3'
    '. . .'
    '. . .';
  }


  main .title{
    grid-column:span 3;
    text-align:center;
  }

  p.a1,p.a2,p.a3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color:blue;
}
  .number1,.number2,.number3{
    display:flex;
    justify-content: center;
  }

  span.b3,span.b1,span.b2 {
    font-size: 1rem;
    display: block;
    text-align: center;
    font-weight:500;
    color:black;
}
  
    
  
  