.mercury {
    background-color: gray;
}

.venus {
    background-color: yellowgreen;
}

.earth {
    background-color: blue;
}

.earth {
    background-color: blue;
}

.mars {
    background-color: red;
}

.jupiter {
    background-color: brown;
}

.saturn {
    background-color: bisque;
}

.uranus {
    background-color: cadetblue;
}

.neptune {
    background-color: crimson;
}